target/
bin/
gwt-unitCache/
gwt-deploy/
com.hack23.cia.web.widgets.WebWidgetSet/
themes/base/
themes/chameleon/
themes/liferay/
themes/reindeer/
themes/runo/
activemq-data/
.classpath
.project
.settings/
.springBeans
parent-pom/DocumentContentData/segments_1
parent-pom/DocumentElement/segments_1
parent-pom/DocumentContentData/write.lock
parent-pom/DocumentElement/write.lock
citizen-intelligence-agency/src/main/webapp/VAADIN/addons/gantt/gantt.scss
citizen-intelligence-agency/.ant-targets-build.xml
DocumentContentData/segments_1
DocumentContentData/write.lock
DocumentElement/segments_1
DocumentElement/write.lock
citizen-intelligence-agency/src/main/webapp/VAADIN/addons/gantt/gantt.scss
service.data.impl/DocumentElement/write.lock
service.data.impl/DocumentContentData/segments_1
service.data.impl/DocumentContentData/write.lock
service.data.impl/DocumentElement/segments_1
citizen-intelligence-agency/data
citizen-intelligence-agency/data/

# Backup files
*.bak
*~

# Temporary report files (prefer living documentation)
*_SUMMARY.md
*_FIXES_*.md
