$v-app-loading-text: "Loading Citizen Intelligence Agency:: Tracking politicians like bugs!";

/* use 
https://coolors.co/app/ 
http://www.color-hex.com/color/a3cdf1
*/

$v-background-color: #FFFFFF;
$v-app-background-color: #b2cbe5;
/* $v-font-color: #FFFFFF; 
$v-link-font-color: #084887;
$v-selection-color: #EFDB3F; 
$v-focus-color: #EFDB3F; */

$v-component-group-spacing: 6px;

$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-overlay-shadow: 0 0 0 3px (v-tint 8), 0 5px 10px (v-tint 4);

$v-border-radius: 10px;

$v-bevel-depth: 40%;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);

$v-gradient: v-linear 12%;

$v-shadow: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);

$v-window-modality-curtain-background-color: $v-background-color;
$v-panel-background-color: $v-background-color;
$v-overlay-background-color: $v-background-color;
$v-table-background-color: $v-background-color;
$v-menu-background-color: $v-background-color;
$v-textfield-background-color: $v-background-color;
$v-button-background-color: $v-background-color;
$v-nativebutton-background-color: $v-background-color;
$v-link-background-color: $v-background-color;
$v-selection-overlay-background-color: $v-background-color;
$v-selection-item-selection-color: $v-selection-color;


$v-textfield-shadow: $v-tint;
$v-textfield-bevel: inset 0 2px 2px v-tint;

$v-font-size: 12px;
$v-unit-size: 26px;
$v-unit-size--small: 20px;
$v-unit-size--tiny: 18px;
$v-font-family: Ariel, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-layout-margin-top: 18px;
$v-layout-margin-right: 18px;
$v-layout-margin-bottom: 18px;
$v-layout-margin-left: 18px;
$v-layout-spacing-vertical: 7px;
$v-layout-spacing-horizontal: 6px;


@import "../valo/valo";