@mixin cia {


	@include valo;

	@include addons;
	

/*
	$color1: $panelCaptionColor;		
    @include valo-panel-caption-style($background-color: $color1);	
	@include valo-caption-style($background-color: $color1);	
	
	
	HeaderText
	http://www.color-hex.com/color/003cf0
	
	
	http://www.color-hex.com/color/00b4f0	
	http://www.color-hex.com/color/ccf2ff
	
	http://www.color-hex.com/color/40b527
	http://www.color-hex.com/color/deffd7
	
*/	

		
	$headerBorderRadius : 6px;
	$headerFontSize : 18px;

	.v-panel-page-panel {
		border: 1px solid rgba(0, 0, 0, .6);
	}

	.v-grid-layout-content-overview-panel {
		background-color: rgba(0, 0, 0, .6); 	
		border: 2px inset #2deff9;
		border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
		margin: 1px;
		padding: 6px;		
	}
	
	
	.v-label-Header {
	 font-size: 18px;
	 color: #fed552;	 
	 border-radius: $headerBorderRadius;	 
	}

	.v-label-HeaderSlogan {
	 font-size: 18px;
	 color: #2deff9;	 
	 border-radius: $headerBorderRadius;	 
	}
		

	.v-label-Level2Header {
	 color: #2debf5;
	 background-color: #213f49; 
	 font-size: $headerFontSize;
	 border-radius: $headerBorderRadius;
	}	
			
	.v-panel-caption {
	 color : #2bed1b;
	 /* color: #2debf5;
	 background-color: #213f49; */
	 background-image: none;	 
	 font-size: $headerFontSize;
	 border-radius: $headerBorderRadius;
	}

	
	.v-caption-Level2Header {
	 color: #2debf5;
	 background-color: #213f49;
	 font-size: $headerFontSize;
	 border-radius: $headerBorderRadius;
	}
				
	.v-menubar-Header {
	 font-size: $headerFontSize;
	}
	
	.v-menubar-menuitem-Header {
	 font-size: 14px;
	}
	
	.v-menubar-menuitem-caption-Header {
	 font-size: 14px;
	}
	
	.v-menubar-submenu-Header {
	 font-size: 14px;
	}
	
	.v-menubar-selected-Header {
	 font-size: 14px;
	}
	
}