/* Coolors Exported Palette - coolors.co/fafafa-3b5998-e7ebf2-ffffff-0c0910 */

$color1: #fafafa; //rgba(250, 250, 250, 100)
$color2: #3b5998; //rgba(59, 89, 152, 100)
$color3: #e7ebf2; //rgba(231, 235, 242, 100)
$color4: #ffffff; //rgba(255, 255, 255, 100)
$color5: #0c0910; //rgba(12, 9, 16, 100)