grant codeBase "file:${jetty.home}/start.jar" {
        permission java.security.AllPermission;
};

grant codeBase "file:${jetty.home}/lib/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${jetty.home}/webapps/cia/WEB-INF/lib/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${jetty.home}/webapps/cia/WEB-INF/classes/-" {
        permission java.security.AllPermission;
};