
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>test-profile</id>
      <properties>
        <maven.test.failure.ignore>true</maven.test.failure.ignore>
        <failIfNoTests>false</failIfNoTests>
        <surefire.failIfNoSpecifiedTests>false</surefire.failIfNoSpecifiedTests>
        <forkMode>once</forkMode>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>test-profile</activeProfile>
  </activeProfiles>
</settings>