{
    "AggregationAuthorization": {
        "Type": "AWS::Config::AggregationAuthorization", 
        "Properties": {
            "AuthorizedAccountId": null, 
            "-Ref": "MasterAccount", 
            "AuthorizedAwsRegion": "eu-west-1"
        }
    }, 
    "Parameters": {
        "MasterAccount": {
            "Description": "Account number of the master Amazon Macie account to grant access to", 
            "Type": "String", 
            "AllowedPattern": "[0-9]*", 
            "MinLength": 11, 
            "MaxLength": 12, 
            "ConstraintDescription": "Must be a 12 digit AWS Account Number"
        }
    }
}