{
    "AWSTemplateFormatVersion": "2010-09-09", 
    "Resources": {
        "CloudTrail": {
            "Type": "AWS::CloudTrail::Trail", 
            "Properties": {
                "TrailName": "CloudTrail", 
                "IsLogging": true, 
                "EnableLogFileValidation": true, 
                "EventSelectors": [
                    {
                        "IncludeManagementEvents": true, 
                        "ReadWriteType": "All"
                    }
                ], 
                "IsMultiRegionTrail": true, 
                "IncludeGlobalServiceEvents": true, 
                "S3BucketName": "hack23cloudtraildev"
            }
        }
    }, 
    "Parameters": {}, 
    "Metadata": {}, 
    "Conditions": {}
}