{
    "AWSTemplateFormatVersion": "2010-09-09", 
    "Resources": {
        "ConfigRuleehpaQ": {
            "Type": "AWS::Config::ConfigRule", 
            "Properties": {
                "ConfigRuleName": "ec2-instance-managed-by-ssm", 
                "Description": "A Config rule that checks whether the Amazon EC2 instances in your account are managed by AWS Systems Manager.", 
                "InputParameters": {}, 
                "Scope": {
                    "ComplianceResourceTypes": [
                        "AWS::EC2::Instance", 
                        "AWS::SSM::ManagedInstanceInventory"
                    ]
                }, 
                "Source": {
                    "Owner": "AWS", 
                    "SourceIdentifier": "EC2_INSTANCE_MANAGED_BY_SSM"
                }
            }
        }, 
        "ConfigRulebdZvp": {
            "Type": "AWS::Config::ConfigRule", 
            "Properties": {
                "ConfigRuleName": "ec2-managedinstance-patch-compliance-status-check", 
                "Description": "A Config rule that checks whether the compliance status of the Amazon EC2 Systems Manager patch compliance is COMPLIANT or NON_COMPLIANT after the patch installation on the instance. The rule is compliant if the field status is COMPLIANT.", 
                "InputParameters": {}, 
                "Scope": {
                    "ComplianceResourceTypes": [
                        "AWS::SSM::PatchCompliance"
                    ]
                }, 
                "Source": {
                    "Owner": "AWS", 
                    "SourceIdentifier": "EC2_MANAGEDINSTANCE_PATCH_COMPLIANCE_STATUS_CHECK"
                }
            }
        }
    }, 
    "Parameters": {}, 
    "Metadata": {}, 
    "Conditions": {}
}